<h1>File Upload</h1>
<!-- <input
  style="display: none"
  type="file"
  (change)="onFileSelected($event)"
  #fileInput
/>
<button class="btn btn-info" type="button" (click)="fileInput.click()">
  Pick File
</button>
<br />
<br />
<button class="btn btn-success" type="button" (click)="onUpload()">
  Upload
</button>

<br />
<br /> -->

<img style="object-fit: contain" [src]="url" alt="" width="50%" />
<br>
<br>
<input type="file" (change)="selectFile($event)" />

<br />
<br />

<!-- <img
  *ngFor="let url of urls"
  style="object-fit: contain"
  [src]="url"
  alt=""
  width="50%"
/>
<input type="file" (change)="selectFiles($event)" multiple /> -->
<!-- 
<br />
<br /> -->

<h1>Angular firebase upload image</h1>
<label for="Image">Image File</label><br />
<input type="file" (change)="upload($event)" accept="*.png.jpg" />
<br />
<br />
<button class="btn btn-primary" (click)="uploadImage()">Upload Image</button>
<br />
<br />
